header {
    height: 100px;
}
header #nav-logo {
    position: relative;
    float: left;
    line-height: 0;
    height: 100%;
    width: 192px;
    padding: 13px 18px 0 27px;
}
header #nav-logo .logo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/33/gno/sprites/nav-sprite-global_bluebeacon-V3-1x_optimized._CB516557495_.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
}